/* --- Variables --- */
:root {
    --navy: #0c263e;
    --dk-navy: #071629;
    --orange: #e75a2f;
    --off-white: #f5f5f5;
}

/* --- Containers  --- */
body {
    color: var(--dk-navy);
    font-family: 'Noto Sans', sans-serif;
}

.inner-container {
    padding: 0 1rem;
    max-width: 1400px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* --- Typography --- */
h1,
h2 {
    font-family: 'Pacifico', cursive;
}

h1 a {
    color: var(--off-white);
    text-decoration: none;
}

h2 {
    font-size: 3.125rem;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 1.5rem;
    max-width: 70ch;
}

/* --- Header --- */
header {
    padding: 1rem 0;
    background-color: var(--navy);
}

header nav {
    position: absolute;
    left: 0;
    top: 88px;
    width: 100vw;
    background-color: var(--navy);
    padding: 0 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.7s ease;
}

ul.menu a>svg {
    display: none;
}

.toggle-nav {
    max-height: 28.125rem;
}

.toggle-btn {
    background-color: var(--navy);
    border: none;
    color: var(--off-white);
    font-size: 0.8rem;
    text-transform: lowercase;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.toggle-btn svg {
    width: 35px;
    fill: #f5f5f5;
    display: block;
}

.toggle-btn:hover {
    cursor: pointer;
}

ul.menu {
    border-bottom: 1px solid var(--off-white);
    margin-bottom: 1.5rem;
}

ul.menu a {
    font-size: 1.3rem;
    color: var(--off-white);
    text-decoration: none;
    display: block;
}

ul.menu a:hover {
    color: var(--orange);
    text-decoration: underline;
}

ul.menu li {
    line-height: 35px;
    margin: 0.5rem 0;
}

ul.submenu a {
    margin-left: 1.875rem;
    font-size: 1rem;
}

ul.utility-nav {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

ul.utility-nav a {
    text-transform: uppercase;
    background: rgb(231, 90, 47);
    background: linear-gradient(90deg, rgba(231, 90, 47, 1) 0%, rgba(177, 54, 16, 1) 43%);
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
    color: var(--off-white);
    display: inline-block;
}

/* --- Main Section */

section {
    padding: 3.125rem 0;
}

@media screen and (min-width: 950px) {
    .toggle-btn {
        display: none;
    }

    header nav {
        max-height: 28rem;
        position: static;
        width: auto;
        padding: 0;
        display: flex;
        gap: 3rem;
        overflow: visible;
        align-items: center;
    }

    ul.menu a>svg {
        display: inline;
        width: 20px;
    }

    ul.menu a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }


    .menu {
        display: flex;
        gap: 1.5rem;
        border: none;
    }

    ul.menu li:hover>ul.submenu {
        visibility: visible;
        opacity: 1;
        transition: all 0.5s ease;
    }

    ul.menu li:focus-within>ul,
    ul.menu li>ul:focus {
        visibility: visible;
        opacity: 1;
    }

    ul.menu {
        border-bottom: none;
    }

    ul.menu,
    ul.utility-nav {
        margin-bottom: 0;
    }

    ul.menu li {
        position: relative;
    }

    .submenu {
        position: absolute;
        background-color: var(--navy);
        border-radius: 8px;
        top: 35px;
        white-space: nowrap;
        width: 100%;
        visibility: hidden;
        opacity: 0;
    }

    ul.submenu a {
        margin-left: 0;
        padding: 0.5rem 1rem;
    }

    .gallery {
        display: flex;
        align-items: flex-start;
    }

    .gallery img {
        width: 50%;
    }

    .gallery img:last-of-type {
        position: relative;
        top: 100px;
        right: 150px;
    }
}